<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>幸福人生</title>

    <link rel="icon" href="https://tse2-mm.cn.bing.net/th/id/OIP-C.HhLTCpoiMiiBbkGed_MddQHaG9?w=222&h=209&c=7&r=0&o=5&dpr=1.3&pid=1.7" sizes="16*16">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!--echarts图表-->
    <script src="{% static 'js/echarts.js' %}"></script>

    <style>
        .jumbotron{text-shadow: #4d7366 0 0 2px;
            color: white; padding: 20px;transition: all 1s;
            background: linear-gradient(40deg,#539247,#94c88b);
            box-shadow: 4px 4px 4px 4px rgba(203, 216, 227, 0.2);}
        .jumbotron:hover{color: rgb(41, 41, 41);}</style>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/life/user_index/">幸福人生</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" alt="" src="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>广应科大表哥</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> 昨天23：02</p>
                                        <p>投稿请联系我</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object"  alt="" src="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong> 玲娜贝儿</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i>昨天19：56</p>
                                        <p>谢谢可爱的你来迪士尼找我玩儿~</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object"  alt="" src="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>法外狂徒——张三</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> 昨天1:07</p>
                                        <p>今年的法考好难呐！！！</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">阅读更多新消息</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/life/charts/">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="/life/plan/">
                                <div>
                                    <p>
                                        <strong>日程计划</strong>
                                        <span class="pull-right text-muted">40% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/comm/">
                                <div>
                                    <p>
                                        <strong>人际交往</strong>
                                        <span class="pull-right text-muted">20% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete(danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/manage/">
                                <div>
                                    <p>
                                        <strong>金钱管理</strong>
                                        <span class="pull-right text-muted">20% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete(warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/healthy/">
                                <div>
                                    <p>
                                        <strong>健康生活</strong>
                                        <span class="pull-right text-muted">20% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete(success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/clothes/">
                                <div>
                                    <p>
                                        <strong>穿衣推荐</strong>
                                        <span class="pull-right text-muted">20% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/eat/">
                                <div>
                                    <p>
                                        <strong>饮食推荐</strong>
                                        <span class="pull-right text-muted">60% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/talk/">
                                <div>
                                    <p>
                                        <strong>自我对话</strong>
                                        <span class="pull-right text-muted">80% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>用户 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/life/user_index/profile1/"><i class="fa fa-fw fa-user"></i> 资料</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> 收件箱</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> 设置</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/login_out/"><i class="fa fa-fw fa-power-off"></i> 登出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="/life/user_index/"><i class="fa fa-fw fa-dashboard"></i> 主页</a>
                    </li>
                    <li>
                        <a href="/life/plan/"><i class="fa fa-fw fa-bar-chart-o"></i>日程计划</a>
                    </li>
                    <li>
                        <a href="/life/comm/"><i class="fa fa-fw fa-table"></i> 人际交往</a>
                    </li>
                    <li>
                        <a href="/life/manage/"><i class="fa fa-fw fa-edit"></i> 金钱管理</a>
                    </li>
                    <li>
                        <a href="/life/healthy/"><i class="fa fa-fw fa-desktop"></i> 健康生活</a>
                    </li>
                    <li>
                        <a href="/life/clothes/"><i class="fa fa-fw fa-wrench"></i> 穿衣推荐</a>
                    </li>
                    <li>
                        <a href="/life/eat/"><i class="fa fa-fw fa-arrows-v"></i> 饮食推荐</a>
                    </li>
                    <li class="active">
                        <a href="/life/talk/"><i class="fa fa-fw fa-file"></i> 自我对话</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- 自我对话 -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            自我对话 <small>Self-talk</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="/life/user_index/">主页</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> 自我对话
                                	<!--setInterval实时显示时间-->
                                <span id="time"></span>
                                    <script>
                                        function mytime(){
                                            var a = new Date();
                                            var b = a.toLocaleTimeString();
                                            var c = a.toLocaleDateString();
                                         document.getElementById("time").innerHTML = c+"&nbsp"+b;
                                         }
                                        setInterval(function() {mytime()},1000);
                                    </script>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <!-- 营销灰屏 -->
                <div class="jumbotron">
                    <h3>与心中自己聊聊！</h3>
                    <p>世界灿烂盛大，欢迎回家</p>
                </div>

                <!-- 小标题 -->
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="page-header">写日记</h2>
                        <p class="lead">对于宇宙，我微不足道；可是，对于我自己，我就是一切。——（法国作家）辛涅科尔 </p>
                    </div>
                    <form action="/life/talk/" method="post">
                    <div class="form-group">
                        <textarea class="form-control" rows="15" name="daily"></textarea>
                    </div>
                    <button type="submit" class="btn btn-info btn-circle"><i class="fa fa-check"></i>
                    </button>
                    <button type="reset" class="btn btn-warning btn-circle"><i class="fa fa-times"></i>
                    </button>
                    </form>
                </div>

<div class="row">
    <div class="col-lg-6">
                        <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
<div id="main" style="width: 100%;height:400%;"></div>
<script type="text/javascript">
// 基于准备好的dom，初始化echarts实例
var myChart = echarts.init(document.getElementById('main'));

// prettier-ignore
const symbolSize = 20;
const data = [
  [90, 0],
  [60, 0],
  [30, 0],
  [0, 0],
  [-30, 0],
  [-60, 0],
  [-90,0]
];
    // 指定图表的配置项和数据
    var option = {
  title: {
    text: '自定义心情曲线',
    left: 'center'
  },
  tooltip: {
    triggerOn: 'none',
    formatter: function (params) {
      return (
        'X: ' +
        params.data[0].toFixed(2) +
        '<br>Y: ' +
        params.data[1].toFixed(2)
      );
    }
  },
  grid: {
    top: '8%',
    bottom: '12%'
  },
  xAxis: {
    min: -100,
    max: 100,
    type: 'value',
    axisLine: { onZero: false }
  },
  yAxis: {
    min: -100,
    max: 100,
    type: 'value',
    axisLine: { onZero: false }
  },
  dataZoom: [
    {
      type: 'slider',
      xAxisIndex: 0,
      filterMode: 'none'
    },
    {
      type: 'slider',
      yAxisIndex: 0,
      filterMode: 'none'
    },
    {
      type: 'inside',
      xAxisIndex: 0,
      filterMode: 'none'
    },
    {
      type: 'inside',
      yAxisIndex: 0,
      filterMode: 'none'
    }
  ],
  series: [
    {
      id: 'a',
      type: 'line',
      smooth: true,
      symbolSize: symbolSize,
      data: data
    }
  ]
};
setTimeout(function () {
  // Add shadow circles (which is not visible) to enable drag.
  myChart.setOption({
    graphic: data.map(function (item, dataIndex) {
      return {
        type: 'circle',
        position: myChart.convertToPixel('grid', item),
        shape: {
          cx: 0,
          cy: 0,
          r: symbolSize / 2
        },
        invisible: true,
        draggable: true,
        ondrag: function (dx, dy) {
          onPointDragging(dataIndex, [this.x, this.y]);
        },
        onmousemove: function () {
          showTooltip(dataIndex);
        },
        onmouseout: function () {
          hideTooltip(dataIndex);
        },
        z: 100
      };
    })
  });
}, 0);
window.addEventListener('resize', updatePosition);
myChart.on('dataZoom', updatePosition);
function updatePosition() {
  myChart.setOption({
    graphic: data.map(function (item, dataIndex) {
      return {
        position: myChart.convertToPixel('grid', item)
      };
    })
  });
}
function showTooltip(dataIndex) {
  myChart.dispatchAction({
    type: 'showTip',
    seriesIndex: 0,
    dataIndex: dataIndex
  });
}
function hideTooltip(dataIndex) {
  myChart.dispatchAction({
    type: 'hideTip'
  });
}
function onPointDragging(dataIndex, pos) {
  data[dataIndex] = myChart.convertFromPixel('grid', pos);
  // Update data
  myChart.setOption({
    series: [
      {
        id: 'a',
        data: data
      }
    ]
  });
}
// 使用刚指定的配置项和数据显示图表。
myChart.setOption(option);

//根据窗口的大小变动图表 --- 重点
window.onresize = function(){
myChart.resize();
}
</script>
    </div>
                    <div class="col-lg-6">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">日记关键词</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row" style="height: 330%;">
                                    {% if img1 %}
                                        <div class="panel-body">
                                            <img src='{{ img1 }}' style="height:200%; width:100%;">
                                        </div>
                                    {% else %}
                                        <div class="panel-body">{{ msg }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->

        <!-- jQuery Version 1.11.0 -->
        <script src="{% static 'js/jquery-1.11.0.js' %}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>