<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>幸福人生</title>

    <link rel="icon" href="https://tse2-mm.cn.bing.net/th/id/OIP-C.HhLTCpoiMiiBbkGed_MddQHaG9?w=222&h=209&c=7&r=0&o=5&dpr=1.3&pid=1.7" sizes="16*16">

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static 'css/plugins/morris.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome-4.1.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!--echarts图表-->
    <script src="{% static 'js/echarts.js' %}"></script>

<!--    &lt;!&ndash; HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries &ndash;&gt;-->
<!--    &lt;!&ndash; WARNING: Respond.js doesn't work if you view the page via file:// &ndash;&gt;-->
<!--    &lt;!&ndash;[if lt IE 9]>-->
<!--        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
<!--        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
<!--    <![endif]&ndash;&gt;-->
    <script src="https://cdn.bootcss.com/sweetalert/2.1.0/sweetalert.min.js"></script>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/life/user_index/">幸福人生</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" alt="" src="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>广应科大表哥</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> 昨天23：02</p>
                                        <p>投稿请联系我</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object"  alt="" src="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong> 玲娜贝儿</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i>昨天19：56</p>
                                        <p>谢谢可爱的你来迪士尼找我玩儿~</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object"  alt="" src="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>法外狂徒——张三</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> 昨天1:07</p>
                                        <p>今年的法考好难呐！！！</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">阅读更多新消息</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/life/charts/">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="/life/plan/">
                                <div>
                                    <p>
                                        <strong>日程计划</strong>
                                        <span class="pull-right text-muted">40% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/comm/">
                                <div>
                                    <p>
                                        <strong>人际交往</strong>
                                        <span class="pull-right text-muted">20% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete(danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/manage/">
                                <div>
                                    <p>
                                        <strong>金钱管理</strong>
                                        <span class="pull-right text-muted">20% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete(warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/healthy/">
                                <div>
                                    <p>
                                        <strong>健康生活</strong>
                                        <span class="pull-right text-muted">20% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete(success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/clothes/">
                                <div>
                                    <p>
                                        <strong>穿衣推荐</strong>
                                        <span class="pull-right text-muted">20% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/eat/">
                                <div>
                                    <p>
                                        <strong>饮食推荐</strong>
                                        <span class="pull-right text-muted">60% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/talk/">
                                <div>
                                    <p>
                                        <strong>自我对话</strong>
                                        <span class="pull-right text-muted">80% </span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>用户 <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/life/user_index/profile1/"><i class="fa fa-fw fa-user"></i> 资料</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> 收件箱</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> 设置</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/life/login_out/"><i class="fa fa-fw fa-power-off"></i> 登出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/life/user_index/"><i class="fa fa-fw fa-dashboard"></i> 主页</a>
                    </li>
                    <li>
                        <a href="/life/plan/"><i class="fa fa-fw fa-bar-chart-o"></i>日程计划</a>
                    </li>
                    <li>
                        <a href="/life/comm/"><i class="fa fa-fw fa-table"></i> 人际交往</a>
                    </li>
                    <li>
                        <a href="/life/manage/"><i class="fa fa-fw fa-edit"></i> 金钱管理</a>
                    </li>
                    <li>
                        <a href="/life/healthy/"><i class="fa fa-fw fa-desktop"></i> 健康生活</a>
                    </li>
                    <li>
                        <a href="/life/clothes/"><i class="fa fa-fw fa-wrench"></i> 穿衣推荐</a>
                    </li>
                    <li>
                        <a href="/life/eat/"><i class="fa fa-fw fa-arrows-v"></i> 饮食推荐</a>
                    </li>
                    <li>
                        <a href="/life/talk/"><i class="fa fa-fw fa-file"></i> 自我对话</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        {% if msg1 %}
            <script>
                swal("每日健康建议",'{{ msg1 }}');
            </script>
        {% endif %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            主页 <small> 概述</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> 主页
                                	<!--setInterval实时显示时间-->
                                <span id="time"></span>
                                    <script>
                                        function mytime(){
                                            var a = new Date();
                                            var b = a.toLocaleTimeString();
                                            var c = a.toLocaleDateString();
                                         document.getElementById("time").innerHTML = c+"&nbsp"+b;
                                         }
                                        setInterval(function() {mytime()},1000);
                                    </script>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>遵循人机协作、以人为本的原则。（用户需坚持分析自我需求，核实、编辑、更新数据）</strong>  <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link"></a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-comments fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"></div>
                                        <div style="font-size:25px">人际交往</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/life/comm/">
                                <div class="panel-footer">
                                    <span class="pull-left"><a href="/life/comm/" target="_self">查看详情</a></span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-green">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-tasks fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"></div>
                                        <div style="font-size:25px">日程计划</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/life/plan/">
                                <div class="panel-footer">
                                    <span class="pull-left"><a href="/life/plan/" target="_self">查看详情</a></span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-yellow">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-shopping-cart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"></div>
                                        <div style="font-size:25px">金钱管理</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/life/manage/">
                                <div class="panel-footer">
                                    <span class="pull-left"><a href="/life/manage/" target="_self">查看详情</a></span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="panel panel-red">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-support fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge"></div>
                                        <div style="font-size:25px">健康生活</div>
                                    </div>
                                </div>
                            </div>
                            <a href="/life/healthy/">
                                <div class="panel-footer">
                                    <span class="pull-left"><a href="/life/healthy/" target="_self">查看详情</a></span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart-o fa-fw"></i> 每周总结数据
                            </div>
                                <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                 <!-- 为 ECharts 准备一个定义了宽高的 DOM -->
                                <div id="main" style="width: 100%;height:380%;"></div>
                                <script type="text/javascript">
                                // 基于准备好的dom，初始化echarts实例
                                var myChart = echarts.init(document.getElementById('main'));

const gaugeData = [
  {
      value:{{ score }},
      /*name:'健康分数：       分',
      title:{
          offsetCenter:['-60%','90%']
      },*/
      detail:{
          show:false,
          valueAnimation:true,
          offsetCenter:['-55%','70%']
      }
  },
  {
    value: {{ sleep_num }},
    /*name: '睡眠时长:            (h)',
    title: {
      offsetCenter: ['60%', '90%']
    },*/
    detail: {
      show:false,
      valueAnimation: true,
      offsetCenter: ['-45%', '60%']
    }
  },
  {
    value: {{ water_num }},
    /*name: '饮水:             ml',
    title: {
      offsetCenter: ['-60%', '120%']
    },*/
    detail: {
      show:false,
      valueAnimation: true,
      offsetCenter: ['-55%', '120%']
    }
  },
  {
    value: {{ sport_num }},
    /*name: '运动时间:              (h)',
    title: {
      offsetCenter: ['60%', '120%']
    },*/
    detail: {
      show:false,
      valueAnimation: true,
      offsetCenter: ['70%', '120%']
    }
  }
];
                                // 指定图表的配置项和数据
                                var option = {
  series: [
    {
      type: 'gauge',
      startAngle: 220,
      endAngle: -40,
      pointer: {
        show: false
      },
      progress: {
        show: true,
        overlap: false,
        roundCap: true,
        //clip: false,
        itemStyle: {
          borderWidth: 3,
          borderColor: '#fefefe'
        }
      },
      axisLine: {
        lineStyle: {
          width: 100
        }
      },
      splitLine: {
        show: false,
        distance: 0,
        length: 10
      },
      axisTick: {
        show: false
      },
      axisLabel: {
        show: false,
        distance: 50
      },
      data: gaugeData,
      title: {
        fontSize: 14
      },
      detail: {
        width: 50,
        height: 5,
        fontSize: 18,
        color: 'inherit',
        borderColor: 'inherit',
        borderRadius: 20,
        borderWidth: 0,
        formatter: '{value}%'
      }
    }
  ]
};

                                // 使用刚指定的配置项和数据显示图表。
                                    myChart.setOption(option);
                                    //根据窗口的大小变动图表 --- 重点
                                    window.onresize = function(){
                                        myChart.resize();
                                    }
                            </script>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="alert alert-info">
                                            <strong>健康分数： {{ score }}  </strong>分
                                        </div>
                                         <div class="alert alert-success">
                                            <strong>睡眠时长：  {{ sleep }}  </strong>(h)
                                        </div>
                                        <div class="alert alert-warning">
                                            <strong>饮水记录：  {{ water }}   </strong>ml
                                        </div>
                                         <div class="alert alert-danger">
                                            <strong>运动时长：  {{ sport }}   </strong>(h)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-body -->
                            <!--半圆环状图下方彩色框-->
                            <div class="panel-footer" style="height: 50px;">

                            </div>
                        </div>
                        <!-- /.panel -->

                    </div>
                    <!-- /.col-lg-8 -->
                    <div class="col-lg-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bell fa-fw"></i> 轨迹
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="list-group">
                                    {% for i in lst %}
                                        {% if i.locus %}
                                            <a href="#" class="list-group-item">
                                                <img src="{{ i.img }}" width="25px" height="25px"> <strong>{{ i.locus }}</strong>
                                            </a>
                                        {% elif not i.locus %}
                                            <a href="#" class="list-group-item"></a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <!-- /.list-group -->
<!--                                <a href="#" class="btn btn-default btn-block">查看更多轨迹</a>-->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->

                    </div>
                    <!-- /.col-lg-4 -->
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery Version 1.11.0 -->
    <script src="{% static 'js/jquery-1.11.0.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static 'js/plugins/morris/raphael.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'js/plugins/morris/morris-data.js' %}"></script>

</body>

</html>
